# Managed by HomeLabCTL

[Login]
HandleLidSwitch={{ handle_lid_switch }}
HandleLidSwitchExternalPower={{ handle_lid_switch_external_power }}
HandleLidSwitchDocked={{ handle_lid_switch_docked }}
IdleAction={{ idle_action }}
