[Unit]
Description=HomeLabCTL Read-Only System Observer
After=local-fs.target
Wants=local-fs.target

[Service]
Type=simple

User=root
Group=homelabctl

ExecStart=/opt/homelabctl/venv/bin/homelabd
Restart=on-failure
RestartSec=3s

RuntimeDirectory=homelabd
RuntimeDirectoryMode=0750

UMask=0007

NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=read-only
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
PrivateTmp=yes
PrivateDevices=no
RestrictSUIDSGID=yes

ReadWritePaths=/run/homelabd

[Install]
WantedBy=multi-user.target
